:root {
	--heading-color: #232353;
	--button-hover: rgb(20, 20, 46);
}

*,
* ::before,
* ::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	font-size: 62.5%;
}

a,
button,
input,
select,
textarea {
	font: inherit;
}
body {
	font-family: 'Roboto', sans-serif;
	font-size: 1.6rem;
	/* height: 100svh; */
	background-color: #ffffff;
	color: black;
}

/* table {
}
tr,
td,
th {
	padding: 4px;
} */

/* .wrapper {
}

.wrapper h1 {
	text-align: center;
	text-transform: uppercase;
	color: brown;
	text-decoration: solid underline black;
	text-shadow: 2px 0px 5px black;
}

.wrapper:nth-child(1) p {
	cursor: pointer;
}
.wrapper:nth-child(1) p > a {
	text-decoration: none;
	color: dodgerblue;
}

.img-wrapper {
	height: 500px;
}

img:nth-child(1) {
	float: left;
	width: 50%;
	height: 100%;
	object-fit: cover;
}
img:nth-child(2) {
	float: left;
	width: 50%;
	height: 100%;
	object-fit: cover;
}
img:nth-child(2):hover {
	opacity: 0.5;
}

p:last-child {
	padding: 20px;
	text-align: center;
	width: 100%;
} */

/* .first-wrapper {
	padding: 50px;
	margin: 20px;
	font-size: 2rem;
	background-color: skyblue;
	color: black;
	text-align: center;
}

.second-wrapper {
	background-color: lightblue;
	text-align: center;
	color: black;
	font-size: 2rem;
}

p:nth-child(3) {
	margin-top: 20px;
}

p:nth-child(4) {
	margin-top: 20px;
	color: violet;
} */

/* .wrapper {
	background-color: #eee3cb;
	position: relative;
	/* width: 100%;
}

h1,
h2 {
	text-align: center;
}

img {
	float: right;
	background-color: #182747;
	margin-left: 20px;
}

.content-div {
	width: calc(100% - 300px);
}

.content-div > p {
	margin-top: 10px;
	word-spacing: 10px;
	font-style: italic;
	text-align: justify;
	font-size: x-large;
}

.content-div p:nth-child(4) {
	margin-bottom: 20px;
} */

/* h1 {
	flex-basis: 100%;
	text-align: center;
	text-shadow: 0.2rem 0.2rem red;
}
.container {
	border-radius: 5px;
	flex-wrap: wrap;
	display: flex;
	justify-content: center;
	align-items: start;
	background: linear-gradient(90deg, #00ffeb 0%, #073abb 100%);
}

img {
	height: 200px;
	width: 250px;
	margin: 5px;
	border-radius: 5px;
	transition: transform 0.5s ease-in-out;
}

img:hover {
	transform: rotate(180deg);
} */

/* header {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	background-color: #87a2fb;
}
header h1 {
	flex-grow: 1;
	color: white;
}

nav {
	background-color: white;
	flex-direction: column;
	color: black;
	display: flex;
	width: 100%;
}

.first-list li {
	list-style-type: none;
	margin: 10px 5px;
	padding: 10px;
	background-color: #33b5e5;
	border-radius: 5px;
}

.content {
	display: flex;
	flex-direction: column;
	gap: 20px;
	padding: 20px;
}

.content h2 p {
	width: 100%;
}

.sidebar {
	border-radius: 5px;
	margin-top: 10px;
	background-color: #b1b2ff;
	flex-grow: 1;
	text-align: center;
	margin: 10px 10px;
	min-width: 234px;
	min-height: 280px;
}

.sidebar h2 {
	margin-top: 25px;
}
.second-list {
	list-style-type: none;
}

.second-list li:nth-child(even) {
	font-size: 1.5rem;
	margin-top: 8px;
	color: white;
}

.second-list li:nth-child(odd) {
	font-size: 3rem;
}

footer {
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: #09c;
	min-height: 50px;
}

@media only screen and (min-width: 600px) {
	nav {
		flex-direction: row;
		flex-wrap: wrap;
	}
	.content {
		width: calc(100% - 130px);
	}
}

@media only screen and (min-width: 768px) {
	.content {
		flex-basis: 50%;
	}
} */

/* Css for website */
/* ! Redo navigation to redo the header nav height on larger screens */
/* header Section */
header {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

header h1 {
	font-size: clamp(2.45rem, 5vw, 4rem);
	align-items: center;
	flex: 1 1 80%;
	font-weight: bold;
	color: var(--heading-color);
}

.header_nav {
	/* flex: 1 1 20%; */
	background-color: var(--heading-color);
	max-width: 65px;
	padding: 5px;
	display: block;
	cursor: pointer;
}

.header_nav_link img {
	display: block;
	padding-block: 5px;
	margin-left: 9px;
	max-width: 70%;
}

/* Header nav Hover Menu */

.nav_menu {
	position: absolute;
	display: none;
	left: 0;
	top: 45.23px;
	width: 100%;
	height: 113vh;
}

.header_nav .header_nav_link:is(:hover, :focus) ~ .nav_menu {
	/* display: flex; */
	align-items: center;
	justify-content: center;
	color: black;
	background-color: #ffffff;
}

.nav_menu_list {
	width: 80%;
	margin-top: -18rem;
}

.nav_menu_list li {
	list-style-type: none;
	font-weight: 300;
	font-size: 3rem;
	margin-block: 10px;
	text-align: center;
}
.nav_menu_list li:hover {
	transform: scale(1.1);
}

.nav_menu_list li a {
	text-decoration: none;
	color: black;
}

.nav_menu_list li a:hover {
	color: #c3a1f9;
}

/* Header Nav Menu icons */
.nav_menu_icons {
	text-align: center;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	margin-top: -18rem;
}

.nav_menu_icons img {
	display: block;
	margin: auto;
	margin-block: 15px;
	height: 4.5rem;
	width: 100%;
}

.nav_menu_icons img:hover {
	transform: scale(1.2);
}

/* add for desktop sizes */
/* .nav_menu_icons img:nth-child(1) {
	margin-top: auto;
}

.nav_menu_icons img:nth-child(4) {
	margin-top: auto;
} */

/* Hero Section */
.hero {
	margin-top: 40px;
	text-align: center;
	margin-inline: 20px;
}
.hero_text {
	margin-bottom: 20px;
}

.hero_text .margin {
	margin-bottom: 20px;
}
.hero_text p {
	font-size: 1.8rem;
}
.hero_text h2 {
	color: var(--heading-color);
	font-size: 2.5rem;
}

.hero_text button {
	padding: 10px 25px;
	border: none;
	font-weight: lighter;
	background-color: var(--heading-color);
	color: #ffffff;
}

.hero_img {
	margin-top: 20px;
}
.hero_img img {
	width: 100%;
}

/* Services Section */

.services_grid {
	margin-top: 20px;
	display: grid;
	text-align: center;
	margin-inline: 20px;
}

.services_grid h2 {
	margin-bottom: 20px;
	font-size: 2.5rem;
}

.services_grid p {
	line-height: 1.4;
	font-size: 1.8rem;
}

.services_item {
	margin-top: 30px;
	border-radius: 5px;
}

.services_item h3 {
	margin-block: 10px;
}

.services_item img {
	display: block;
	margin: auto;
	width: 50%;
}

.services_item:hover {
	box-shadow: 1px 0px 4px 4px rgb(233, 233, 233);
}

/* Projects Section */

.projects {
	margin-inline: 20px;
	margin-top: 20px;
	text-align: center;
	margin-bottom: 30px;
}

.projects h2 {
	font-size: 2.5rem;
	margin-bottom: 20px;
	color: var(--heading-color);
}

.projects p {
	line-height: 1.4;
	font-size: 1.8rem;
}
.projects_grid {
	margin-top: 20px;
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	gap: 1rem;
}

.projects_grid_img img {
	width: 100%;
	margin: auto;
}

/* footer Section */

.footer {
	margin-top: 20px;
	margin-inline: 20px;
	margin-bottom: 15px;
}
.footer h2 {
	margin-bottom: 5px;
	color: var(--heading-color);
}

.footer p {
	margin-bottom: 20px;
	line-height: 1.4;
	font-size: 1.8rem;
}

.footer p,
.footer h2 {
	text-align: center;
}

.footer :is(.form, .info) {
	background-color: #f9f9f9;
}

/* form */
.form input,
.form textarea,
.form button {
	display: block;
	margin-block: 10px;
	width: 100%;
}

.form input,
.form button {
	height: 3.5rem;
}

.form button {
	border: none;
	color: white;
	font-weight: bold;
	text-transform: uppercase;
	background-color: var(--heading-color);
	cursor: pointer;
}

.form button:hover {
	background-color: var(--button-hover);
}

/* footer info */

.flex_info {
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.flex_info img {
	margin-block: auto;
	display: block;
	max-width: 20%;
}

.flex_info h3 {
	display: block;
	flex-basis: 75%;
	text-align: center;
	margin-inline: auto;
}
.flex_info h3 a {
	text-decoration: none;
	color: var(--heading-color);
}

.flex_info h3 address p {
	margin-top: 5px;
	font-weight: normal;
	font-size: 1.8rem;
	color: var(--heading-color);
}

.flex_info a {
	margin-inline: auto;
	text-decoration: none;
	color: var(--heading-color);
}

/* Media Queries */
/* for 768 and above */
@media screen and (min-width: 768.98px) {
	/* hero section */
	.hero {
		display: flex;
		align-items: center;
		justify-content: center;
	}
	.hero_text {
		flex-basis: 50%;
		height: 100%;
		margin-bottom: 0;
	}
	.hero_text :is(p, h2) {
		text-align: left;
	}

	.hero_text button {
		display: block;
		margin: 0 auto 0 0;
	}

	.hero_img {
		margin-top: 0;
		flex-basis: 50%;
		height: 100%;
	}
	/* service section */
	.services_grid {
		grid-template-columns: repeat(2, 1fr);
		grid-template-rows: auto;
		grid-template-areas:
			'head head'
			'text text';
		column-gap: 20px;
	}

	.services_grid > h2 {
		grid-area: head;
	}
	.services_grid > p {
		grid-area: text;
		margin-bottom: 30px;
	}

	.services_grid :nth-child(n + 4) {
		margin-top: 30px;
	}

	.services_item {
		margin-top: 0;
	}

	/* footer Section */

	.footer {
		display: flex;
		flex-wrap: wrap;
		gap: 10px;
		position: relative;
	}

	.footer :is(h2, p) {
		width: 100%;
	}

	.footer :is(.form) {
		padding: 25px;
		flex: 1;
	}

	.footer .info {
		display: flex;
		flex-wrap: wrap;
		flex: 1;
		align-items: center;
	}

	.footer .info .flex_info {
		width: 100%;
	}
}

/* Media Query for 1024 and above */
@media screen and (min-width: 1024px) {
	/* .header */
	header h1 {
		margin-left: 50px;
	}

	/* hero */
	.hero {
		margin-inline: auto;
		max-width: calc(100% - 100px);
	}

	/* Projects */
	.projects {
		margin-inline: auto;
		max-width: calc(100% - 100px);
	}

	.projects_grid {
		grid-template-columns: repeat(3, 1fr);
	}

	.projects :is(p, h2) {
		text-align: left;
	}

	/* Services */
	.services_grid {
		grid-template-columns: repeat(3, 1fr);
		grid-template-rows: auto;
		grid-template-areas:
			'head head head'
			'text text text';
		column-gap: 20px;
		max-width: calc(100% - 100px);
		margin-inline: auto;
	}

	.services_grid :nth-child(n + 4) {
		margin-top: 0;
	}

	.services_grid :nth-child(n + 6) {
		margin-top: 30px;
	}

	/* footer */

	.footer {
		margin-inline: auto;
		max-width: calc(100% - 100px);
		margin-inline: auto;
	}
	.footer :is(.form) {
		flex: 2;
	}

	.footer .info {
		flex: 0 0 30%;
	}
}
